@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 1.4rem;
  background-image: linear-gradient(to bottom, #af67e9, #6565e7);
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.wrapper {
  background-color: #fff;
  width: 95%;
  position: relative;
  border-radius: 2rem;
  margin: 15rem auto; }
  .wrapper .image {
    position: absolute;
    top: -11rem;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    width: 24rem; }
    .wrapper .image #first-desk {
      display: none; }
    .wrapper .image #second {
      position: relative;
      top: -8rem; }
    .wrapper .image #second-desk {
      display: none; }
    .wrapper .image #box {
      display: none; }

section.faq-wrapper {
  margin-top: 10rem;
  padding: 2.5rem; }
  section.faq-wrapper h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 700; }
  section.faq-wrapper .faq-content {
    margin: 2.5rem 0; }
    section.faq-wrapper .faq-content > .panel:not(:last-child) {
      margin-bottom: 2rem; }
    section.faq-wrapper .faq-content .panel {
      display: none;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out; }
    section.faq-wrapper .faq-content hr {
      color: #e7e7e9; }
    section.faq-wrapper .faq-content button {
      cursor: pointer;
      outline: none;
      width: 100%;
      border: none;
      text-align: left;
      background-color: #fff;
      padding: 2rem 0;
      color: #4a4b5e; }
      section.faq-wrapper .faq-content button img.arrw {
        margin-left: 1rem; }
      section.faq-wrapper .faq-content button:hover {
        color: #f47c57;
        transition: color .4s; }

.active {
  font-weight: 700;
  font-size: 1.5rem;
  color: black; }

.active::after {
  content: '';
  top: 15rem;
  left: 96rem; }

@media screen and (min-width: 320px) {
  .faq-wrapper .faq-content {
    padding-right: 2rem; } }

@media screen and (min-width: 375px) {
  .wrapper {
    width: 90%; } }

@media screen and (min-width: 425px) {
  .faq-wrapper .faq-content {
    padding-right: 0rem; } }

@media screen and (min-width: 1000px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    max-width: 90rem;
    overflow: hidden; }
    .wrapper .image {
      all: unset;
      margin-top: 22rem; }
      .wrapper .image #first-mobile {
        display: none; }
      .wrapper .image #second {
        display: none; }
      .wrapper .image #first-desk {
        display: block;
        position: relative;
        top: -10rem;
        left: -8rem;
        z-index: 900; }
      .wrapper .image #second-desk {
        display: block;
        position: absolute;
        top: -27rem;
        left: -59rem;
        width: 100rem; }
  section.faq-wrapper {
    padding: 0 7.5rem 0 0; }
    section.faq-wrapper h2 {
      text-align: left; }
    section.faq-wrapper .faq-content {
      max-height: 38rem;
      overflow: scroll;
      scrollbar-width: none;
      -webkit-scrollbar-width: none; }
      section.faq-wrapper .faq-content button, section.faq-wrapper .faq-content .panel {
        padding-right: 2rem; }
      section.faq-wrapper .faq-content button::after {
        position: absolute;
        right: 48px; } }

.practice {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  background-color: #eee;
  padding: 3rem 1rem;
  width: 100%; }
  .practice .panel-e {
    display: none; }
